<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/59f383abf9a61e71d5d01f5b/t/5c390cc0cd836686e42c0982/favicon.ico">

</head>

<body>
    <div id="app"></div>
</body>

</html>
